body{
    background-color: #f0f2f5;
}
form{
    flex: 1;
    max-width: 600px;
    border-radius: 6px;
    background-color: #EFF0F1;
    box-shadow: 0px 0px 20px 5px darkgrey;
    margin: 36px auto;

}
input::placeholder{
    font-size: 14px;
    font-weight: bold;
    color: #6e6d6d;
}
.gender{
    color: #666;
    font-weight: bold;
}

